/* PARA QUE SE PUEDA VISUALIZAR DE MEJOR FORMA... */

body 
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(darkred, red);
    background-repeat: no-repeat;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.row
{
    display: flex;
}

.cell
{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
}